In [21]:
#importing the libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [22]:
sneakerData = pd.read_csv('data/parsed_data.csv', index_col = 0)

In [23]:
sneakerData['Black'] = sneakerData['Black'].fillna(0)
sneakerData['Red'] = sneakerData['Red'].fillna(0)
sneakerData['White'] = sneakerData['White'].fillna(0)
sneakerData['Green'] = sneakerData['Green'].fillna(0)
sneakerData['Neo'] = sneakerData['Neo'].fillna(0)
sneakerData['Grey'] = sneakerData['Grey'].fillna(0)
sneakerData['Orange'] = sneakerData['Orange'].fillna(0)
sneakerData['Tan/Brown'] = sneakerData['Tan/Brown'].fillna(0)
sneakerData['Pink'] = sneakerData['Pink'].fillna(0)
sneakerData['Blue'] = sneakerData['Blue'].fillna(0)
sneakerData['Colorful'] = sneakerData['Colorful'].fillna(0)

In [24]:
sneakerData

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Turnover Days,Profit,Profit Ratio,...,Red,Green,Neo,Orange,Tan/Brown,Pink,Blue,Colorful,Turnover Weeks,color
0,2017-09-01,Yeezy,adidas-yeezy-boost-350-low-v2-beluga,1097,220,2016-09-24,11.0,342.0,877.0,3.99,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,49.0,Grey
1,2017-09-01,Yeezy,adidas-yeezy-boost-350-v2-core-black-copper,685,220,2016-11-23,11.0,282.0,465.0,2.11,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,40.0,Black
2,2017-09-01,Yeezy,adidas-yeezy-boost-350-v2-core-black-green,690,220,2016-11-23,11.0,282.0,470.0,2.14,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,40.0,Black
3,2017-09-01,Yeezy,adidas-yeezy-boost-350-v2-core-black-red,1075,220,2016-11-23,11.5,282.0,855.0,3.89,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40.0,Black
4,2017-09-01,Yeezy,adidas-yeezy-boost-350-v2-core-black-red-2017,828,220,2017-02-11,11.0,202.0,608.0,2.76,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29.0,Black
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99951,2019-02-13,Yeezy,adidas-yeezy-boost-350-v2-static-reflective,565,220,2018-12-26,8.0,49.0,345.0,1.57,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,White
99952,2019-02-13,Yeezy,adidas-yeezy-boost-350-v2-static-reflective,598,220,2018-12-26,8.5,49.0,378.0,1.72,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,White
99953,2019-02-13,Yeezy,adidas-yeezy-boost-350-v2-static-reflective,605,220,2018-12-26,5.5,49.0,385.0,1.75,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,White
99954,2019-02-13,Yeezy,adidas-yeezy-boost-350-v2-static-reflective,650,220,2018-12-26,11.0,49.0,430.0,1.95,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,White
99955,2019-02-13,Yeezy,adidas-yeezy-boost-350-v2-static-reflective,640,220,2018-12-26,11.5,49.0,420.0,1.91,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,White

In [25]:
sneakerData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72761 entries, 0 to 99955
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order Date      72761 non-null  object
 1   Brand           72761 non-null  object
 2   Sneaker Name    72761 non-null  object
 3   Sale Price      72761 non-null  int64
 4   Retail Price    72761 non-null  int64
 5   Release Date    72761 non-null  object
 6   Shoe Size       72761 non-null  float64
 7   Turnover Days   68235 non-null  float64
 8   Profit          72638 non-null  float64
 9   Profit Ratio    72595 non-null  float64
 10  Model           72761 non-null  object
 11  Style           72761 non-null  object
 12  Black           72761 non-null  float64
 13  White           72761 non-null  float64
 14  Grey            72761 non-null  float64
 15  Red             72761 non-null  float64
 16  Green           72761 non-null  float64
 17  Neo             72761 non-null  float64
 18  Orange          72761 non-null  float64
 19  Tan/Brown       72761 non-null  float64
 20  Pink            72761 non-null  float64
 21  Blue            72761 non-null  float64
 22  Colorful        72761 non-null  float64
 23  Turnover Weeks  60584 non-null  float64
 24  color           71404 non-null  object
dtypes: float64(16), int64(2), object(7)
memory usage: 14.4+ MB

In [26]:
 GroupedShoes = sneakerData.groupby(['Sneaker Name','Shoe Size'],as_index=False).agg({'Retail Price': 'min' , 'Sale Price': 'mean','Release Date': 'first','Order Date': 'first','Red':'first','Black':'first','White':'first','Green':'first','Neo':'first','Orange':'first','Tan/Brown':'first','Pink':'first','Blue':'first','Colorful':'first'})

In [27]:
GroupedShoes['Shoe Size'] = GroupedShoes['Shoe Size'].astype(str)

In [28]:
GroupedShoes['Order Date'] = pd.to_datetime(GroupedShoes['Order Date'],infer_datetime_format=True) 
GroupedShoes['Release Date'] = pd.to_datetime(GroupedShoes['Release Date'],infer_datetime_format=True)

In [29]:
GroupedShoes['Order Date'][0].month

9

In [30]:
GroupedShoes

,Sneaker Name,Shoe Size,Retail Price,Sale Price,Release Date,Order Date,Red,Black,White,Green,Neo,Orange,Tan/Brown,Pink,Blue,Colorful
0,adidas-yeezy-boost-350-low-v2-beluga,4.0,220,746.500000,2016-09-24,2017-09-07,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,adidas-yeezy-boost-350-low-v2-beluga,6.0,220,897.500000,2016-09-24,2017-09-05,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,adidas-yeezy-boost-350-low-v2-beluga,6.5,220,900.000000,2016-09-24,2017-09-25,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,adidas-yeezy-boost-350-low-v2-beluga,7.0,220,795.000000,2016-09-24,2017-09-15,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,adidas-yeezy-boost-350-low-v2-beluga,7.5,220,832.000000,2016-09-24,2017-09-06,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
831,nike-zoom-fly-off-white-pink,12.0,170,272.490385,2018-11-28,2018-11-27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
832,nike-zoom-fly-off-white-pink,12.5,170,297.142857,2018-11-28,2018-12-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
833,nike-zoom-fly-off-white-pink,13.0,170,272.000000,2018-11-28,2018-11-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
834,nike-zoom-fly-off-white-pink,14.0,170,307.400000,2018-11-28,2018-11-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
835,nike-zoom-fly-off-white-pink,15.0,170,301.666667,2018-11-28,2018-11-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [31]:
GroupedShoes['release_season'] = GroupedShoes['Release Date'].apply(lambda x: (x.month%12 + 3)//3)

In [32]:
season_name = {1:'Winter', 2:'Spring', 3:"Summer",4:"Fall"}
GroupedShoes['release_season'] = GroupedShoes['release_season'].map(season_name)

In [33]:
GroupedShoes['release_year'] = GroupedShoes['Release Date'].apply(lambda x: x.year)
GroupedShoes['release_season'] = GroupedShoes['release_season'] + ' ' + GroupedShoes['release_year'].astype(str)

In [34]:
GroupedShoes

,Sneaker Name,Shoe Size,Retail Price,Sale Price,Release Date,Order Date,Red,Black,White,Green,Neo,Orange,Tan/Brown,Pink,Blue,Colorful,release_season,release_year
0,adidas-yeezy-boost-350-low-v2-beluga,4.0,220,746.500000,2016-09-24,2017-09-07,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,Fall 2016,2016
1,adidas-yeezy-boost-350-low-v2-beluga,6.0,220,897.500000,2016-09-24,2017-09-05,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,Fall 2016,2016
2,adidas-yeezy-boost-350-low-v2-beluga,6.5,220,900.000000,2016-09-24,2017-09-25,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,Fall 2016,2016
3,adidas-yeezy-boost-350-low-v2-beluga,7.0,220,795.000000,2016-09-24,2017-09-15,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,Fall 2016,2016
4,adidas-yeezy-boost-350-low-v2-beluga,7.5,220,832.000000,2016-09-24,2017-09-06,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,Fall 2016,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
831,nike-zoom-fly-off-white-pink,12.0,170,272.490385,2018-11-28,2018-11-27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,Fall 2018,2018
832,nike-zoom-fly-off-white-pink,12.5,170,297.142857,2018-11-28,2018-12-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,Fall 2018,2018
833,nike-zoom-fly-off-white-pink,13.0,170,272.000000,2018-11-28,2018-11-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,Fall 2018,2018
834,nike-zoom-fly-off-white-pink,14.0,170,307.400000,2018-11-28,2018-11-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,Fall 2018,2018
835,nike-zoom-fly-off-white-pink,15.0,170,301.666667,2018-11-28,2018-11-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,Fall 2018,2018

In [35]:
GroupedShoes['order_season'] = GroupedShoes['Order Date'].apply(lambda x: (x.month%12 + 3)//3)

In [36]:
season_name = {1:'Winter', 2:'Spring', 3:"Summer",4:"Fall"}
GroupedShoes['order_season'] = GroupedShoes['order_season'].map(season_name)

In [37]:
GroupedShoes['order_year'] = GroupedShoes['Order Date'].apply(lambda x: x.year)
GroupedShoes['order_season'] = GroupedShoes['order_season'] + ' ' + GroupedShoes['release_year'].astype(str)

In [38]:
GroupedShoes = GroupedShoes.rename(columns={"Sale Price":"Resell Price"})

In [39]:
GroupedShoes

,Sneaker Name,Shoe Size,Retail Price,Resell Price,Release Date,Order Date,Red,Black,White,Green,Neo,Orange,Tan/Brown,Pink,Blue,Colorful,release_season,release_year,order_season,order_year
0,adidas-yeezy-boost-350-low-v2-beluga,4.0,220,746.500000,2016-09-24,2017-09-07,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,Fall 2016,2016,Fall 2016,2017
1,adidas-yeezy-boost-350-low-v2-beluga,6.0,220,897.500000,2016-09-24,2017-09-05,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,Fall 2016,2016,Fall 2016,2017
2,adidas-yeezy-boost-350-low-v2-beluga,6.5,220,900.000000,2016-09-24,2017-09-25,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,Fall 2016,2016,Fall 2016,2017
3,adidas-yeezy-boost-350-low-v2-beluga,7.0,220,795.000000,2016-09-24,2017-09-15,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,Fall 2016,2016,Fall 2016,2017
4,adidas-yeezy-boost-350-low-v2-beluga,7.5,220,832.000000,2016-09-24,2017-09-06,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,Fall 2016,2016,Fall 2016,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
831,nike-zoom-fly-off-white-pink,12.0,170,272.490385,2018-11-28,2018-11-27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,Fall 2018,2018,Fall 2018,2018
832,nike-zoom-fly-off-white-pink,12.5,170,297.142857,2018-11-28,2018-12-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,Fall 2018,2018,Winter 2018,2018
833,nike-zoom-fly-off-white-pink,13.0,170,272.000000,2018-11-28,2018-11-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,Fall 2018,2018,Fall 2018,2018
834,nike-zoom-fly-off-white-pink,14.0,170,307.400000,2018-11-28,2018-11-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,Fall 2018,2018,Fall 2018,2018
835,nike-zoom-fly-off-white-pink,15.0,170,301.666667,2018-11-28,2018-11-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,Fall 2018,2018,Fall 2018,2018

In [40]:
# saving the dataframe
GroupedShoes.to_csv('data/GroupedShoes.csv')