In [1]:
#importing the libraries
import numpy as np
import pandas as pd

In [2]:
sneakerData = pd.read_csv('StockX-Data-Contest-2019-3.csv')

In [3]:
sneakerData['Sneaker Name'] = sneakerData['Sneaker Name'].str.lower()

In [4]:
#cleaning the dates column
sneakerData['Order Date'] = sneakerData['Order Date'].astype('datetime64[ns]')
sneakerData['Release Date'] = sneakerData['Release Date'].astype('datetime64[ns]')
sneakerData['Turnover Days'] = sneakerData['Order Date'] - sneakerData['Release Date']

In [5]:
sneakerData

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region,Turnover Days
0,2017-09-01,Yeezy,adidas-yeezy-boost-350-low-v2-beluga,"$1,097",$220,2016-09-24,11.0,California,342 days
1,2017-09-01,Yeezy,adidas-yeezy-boost-350-v2-core-black-copper,$685,$220,2016-11-23,11.0,California,282 days
2,2017-09-01,Yeezy,adidas-yeezy-boost-350-v2-core-black-green,$690,$220,2016-11-23,11.0,California,282 days
3,2017-09-01,Yeezy,adidas-yeezy-boost-350-v2-core-black-red,"$1,075",$220,2016-11-23,11.5,Kentucky,282 days
4,2017-09-01,Yeezy,adidas-yeezy-boost-350-v2-core-black-red-2017,$828,$220,2017-02-11,11.0,Rhode Island,202 days
...,...,...,...,...,...,...,...,...,...
99951,2019-02-13,Yeezy,adidas-yeezy-boost-350-v2-static-reflective,$565,$220,2018-12-26,8.0,Oregon,49 days
99952,2019-02-13,Yeezy,adidas-yeezy-boost-350-v2-static-reflective,$598,$220,2018-12-26,8.5,California,49 days
99953,2019-02-13,Yeezy,adidas-yeezy-boost-350-v2-static-reflective,$605,$220,2018-12-26,5.5,New York,49 days
99954,2019-02-13,Yeezy,adidas-yeezy-boost-350-v2-static-reflective,$650,$220,2018-12-26,11.0,California,49 days
99955,2019-02-13,Yeezy,adidas-yeezy-boost-350-v2-static-reflective,$640,$220,2018-12-26,11.5,Texas,49 days

In [6]:
sneakerData['Sale Price'] =  sneakerData['Sale Price'].astype(str).str.replace('$', '')
sneakerData['Sale Price'] =  sneakerData['Sale Price'].astype(str).str.replace(',', '')
sneakerData['Retail Price'] =  sneakerData['Retail Price'].astype(str).str.replace('$', '')
sneakerData['Retail Price'] =  sneakerData['Retail Price'].astype(str).str.replace(',', '')

In [7]:
sneakerData['Sale Price'] = sneakerData['Sale Price'].astype(int)
sneakerData['Retail Price'] = sneakerData['Retail Price'].astype(int)

In [8]:
#cleaning the price column
sneakerData['Profit'] = sneakerData['Sale Price'] - sneakerData['Retail Price']
sneakerData['Profit Ratio'] = (sneakerData['Profit'] / sneakerData['Retail Price']).round(2)

In [9]:
sneakerData["Model"] = sneakerData['Sneaker Name'].apply(
    lambda x : 'yeezy-boost-350' if 'yeezy' in x.split("-") else (
        'air-jordan-1-retro-high' if 'jordan' in x.split('-') else (
            'air-force-1' if 'force' in x.split('-') else(
                'air-max-90' if '90' in x.split('-') else (
                    'air-max-97' if '97' in x.split('-') else (
                        'air-presto' if 'presto' in x.split('-') else (
                            'air-vapormax' if 'vapormax' in x.split('-') else (
                                'blazer-mid' if 'blazer' in x.split('-') else (
                                    'react-hyperdunk-2017-flyknit' if 'hyperdunk' in x.split('-') else (
                                        'zoom-fly' if 'zoom' in x.split('-') else (np.nan)
                                    )
                                )
                            )
                        )
                    )
                )
            )
        )
    )
)

In [10]:
sneakerData['Sneaker Name'] = sneakerData['Sneaker Name'].str.lower()

In [11]:
#check if all the Sneaker Names are categorised into Model Variants
uncategorised_model = pd.DataFrame()
uncategorised_model[sneakerData['Model'].isnull() == True]
print(uncategorised_model)

Empty DataFrame
Columns: []
Index: []

<ipython-input-11-3e9c9a106138>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  uncategorised_model[sneakerData['Model'].isnull() == True]

In [12]:
#importing the colour information from stockX website, based on each sneaker name
colourway = pd.read_excel('supplemental_data_colorway.xlsx')
colourway['Style'] = colourway['Style'].str.lower()
colourway.head()

#merging the colourway DF with the sneakerData DF
sneakerData = pd.merge(sneakerData,colourway,how='left',left_on='Sneaker Name',right_on='Style')

In [13]:
colourway.head()

,Style,Black,White,Grey,Red,Green,Neo,Orange,Tan/Brown,Pink,Blue,Colorful,Number of Sales,Website,Product Line
0,adidas-yeezy-boost-350-low-moonrock,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,315,https://stockx.com/adidas-yeezy-boost-350-moon...,Adidas Yeezy
1,adidas-yeezy-boost-350-low-oxford-tan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,333,https://stockx.com/adidas-yeezy-boost-350-oxfo...,Adidas Yeezy
2,adidas-yeezy-boost-350-low-pirate-black-2015,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,327,https://stockx.com/adidas-yeezy-boost-350-pira...,Adidas Yeezy
3,adidas-yeezy-boost-350-low-pirate-black-2016,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,382,https://stockx.com/adidas-yeezy-boost-350-pira...,Adidas Yeezy
4,adidas-yeezy-boost-350-low-turtledove,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,394,https://stockx.com/adidas-yeezy-boost-350-turt...,Adidas Yeezy

In [14]:
sneakerData['Black'] = sneakerData['Black'].fillna(0)
sneakerData['White'] = sneakerData['White'].fillna(0)
sneakerData['Green'] = sneakerData['Green'].fillna(0)
sneakerData['Neo'] = sneakerData['Neo'].fillna(0)
sneakerData['Orange'] = sneakerData['Orange'].fillna(0)
sneakerData['Tan/Brown'] = sneakerData['Tan/Brown'].fillna(0)
sneakerData['Pink'] = sneakerData['Pink'].fillna(0)
sneakerData['Blue'] = sneakerData['Blue'].fillna(0)
sneakerData['Colorful'] = sneakerData['Colorful'].fillna(0)

In [15]:
sneakerData

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region,Turnover Days,Profit,...,Green,Neo,Orange,Tan/Brown,Pink,Blue,Colorful,Number of Sales,Website,Product Line
0,2017-09-01,Yeezy,adidas-yeezy-boost-350-low-v2-beluga,1097,220,2016-09-24,11.0,California,342 days,877,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1857,https://stockx.com/adidas-yeezy-boost-350-v2-s...,Adidas Yeezy
1,2017-09-01,Yeezy,adidas-yeezy-boost-350-v2-core-black-copper,685,220,2016-11-23,11.0,California,282 days,465,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,560,https://stockx.com/adidas-yeezy-boost-350-v2-c...,Adidas Yeezy
2,2017-09-01,Yeezy,adidas-yeezy-boost-350-v2-core-black-green,690,220,2016-11-23,11.0,California,282 days,470,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,520,https://stockx.com/adidas-yeezy-boost-350-v2-c...,Adidas Yeezy
3,2017-09-01,Yeezy,adidas-yeezy-boost-350-v2-core-black-red,1075,220,2016-11-23,11.5,Kentucky,282 days,855,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,808,https://stockx.com/adidas-yeezy-boost-350-v2-c...,Adidas Yeezy
4,2017-09-01,Yeezy,adidas-yeezy-boost-350-v2-core-black-red-2017,828,220,2017-02-11,11.0,Rhode Island,202 days,608,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2153,https://stockx.com/adidas-yeezy-boost-350-v2-c...,Adidas Yeezy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99951,2019-02-13,Yeezy,adidas-yeezy-boost-350-v2-static-reflective,565,220,2018-12-26,8.0,Oregon,49 days,345,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6085,https://stockx.com/adidas-yeezy-boost-350-v2-s...,Adidas Yeezy
99952,2019-02-13,Yeezy,adidas-yeezy-boost-350-v2-static-reflective,598,220,2018-12-26,8.5,California,49 days,378,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6085,https://stockx.com/adidas-yeezy-boost-350-v2-s...,Adidas Yeezy
99953,2019-02-13,Yeezy,adidas-yeezy-boost-350-v2-static-reflective,605,220,2018-12-26,5.5,New York,49 days,385,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6085,https://stockx.com/adidas-yeezy-boost-350-v2-s...,Adidas Yeezy
99954,2019-02-13,Yeezy,adidas-yeezy-boost-350-v2-static-reflective,650,220,2018-12-26,11.0,California,49 days,430,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6085,https://stockx.com/adidas-yeezy-boost-350-v2-s...,Adidas Yeezy
99955,2019-02-13,Yeezy,adidas-yeezy-boost-350-v2-static-reflective,640,220,2018-12-26,11.5,Texas,49 days,420,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6085,https://stockx.com/adidas-yeezy-boost-350-v2-s...,Adidas Yeezy

In [16]:
parsed_data = sneakerData.drop(['Number of Sales','Website','Product Line','Buyer Region'],axis=1)
parsed_data['Turnover Days'] = parsed_data['Turnover Days'].dt.days
parsed_data['Turnover Weeks'] = (parsed_data['Turnover Days'] / 7).round(0)
parsed_data = parsed_data.drop(parsed_data[parsed_data['Turnover Weeks'] < 0].index)
parsed_data = parsed_data.drop(parsed_data[parsed_data['Turnover Weeks'] > 52].index)

#consolidating the primary colors into 1 single column
def get_col(row):
    for color in parsed_data.columns[10:20]:
        if row[color] == 1:
            return color
parsed_data['color'] = parsed_data.apply(get_col, axis=1)
parsed_data = parsed_data.replace(0, np.nan)
parsed_data.to_csv('parsed_data.csv')

In [17]:
parsed_data

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Turnover Days,Profit,Profit Ratio,...,Red,Green,Neo,Orange,Tan/Brown,Pink,Blue,Colorful,Turnover Weeks,color
0,2017-09-01,Yeezy,adidas-yeezy-boost-350-low-v2-beluga,1097,220,2016-09-24,11.0,342.0,877.0,3.99,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,49.0,Grey
1,2017-09-01,Yeezy,adidas-yeezy-boost-350-v2-core-black-copper,685,220,2016-11-23,11.0,282.0,465.0,2.11,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,40.0,Black
2,2017-09-01,Yeezy,adidas-yeezy-boost-350-v2-core-black-green,690,220,2016-11-23,11.0,282.0,470.0,2.14,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,40.0,Black
3,2017-09-01,Yeezy,adidas-yeezy-boost-350-v2-core-black-red,1075,220,2016-11-23,11.5,282.0,855.0,3.89,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,Black
4,2017-09-01,Yeezy,adidas-yeezy-boost-350-v2-core-black-red-2017,828,220,2017-02-11,11.0,202.0,608.0,2.76,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,Black
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99951,2019-02-13,Yeezy,adidas-yeezy-boost-350-v2-static-reflective,565,220,2018-12-26,8.0,49.0,345.0,1.57,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,White
99952,2019-02-13,Yeezy,adidas-yeezy-boost-350-v2-static-reflective,598,220,2018-12-26,8.5,49.0,378.0,1.72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,White
99953,2019-02-13,Yeezy,adidas-yeezy-boost-350-v2-static-reflective,605,220,2018-12-26,5.5,49.0,385.0,1.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,White
99954,2019-02-13,Yeezy,adidas-yeezy-boost-350-v2-static-reflective,650,220,2018-12-26,11.0,49.0,430.0,1.95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,White
99955,2019-02-13,Yeezy,adidas-yeezy-boost-350-v2-static-reflective,640,220,2018-12-26,11.5,49.0,420.0,1.91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,White